@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    background-color: hsl(206, 85%, 94%);
}
main {
    position: relative;
}
picture {
    position: absolute;
    z-index: -1;
}
.content {
    margin-inline: 1rem;
    padding: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: .5rem;
}
.content h1 {
    color: hsl(213, 96%, 18%);
    font-size: 1.5rem;
    margin-block: .5rem;
}
.paragraph {
    color: hsl(231, 11%, 63%);
    margin-block: .5rem;
    line-height: 1.5rem;
}
/* Step One CSS Start */
.inputGroup {
    margin-block: 1rem;
}
.inputGroup label {
    color: hsl(213, 96%, 18%);
}
.inputGroup input {
    width: 100%;
    padding: 1rem;
    border-radius: .25rem;
    border: 1px solid hsl(229, 24%, 87%);
    font-family: inherit;
    font-weight: 700;
}
.inputGroup input:focus{
    outline: none;
    border-color: hsl(243, 100%, 62%);
}
.inputGroup input::placeholder{
    color: hsl(231, 11%, 69%);
}
.required {
    border-color: red !important ;
}
/* Step One CSS End */



/* Step Three CSS Start */
/* Step Three CSS End */

/* Step Four CSS Start */
/* Step Four CSS End */

